<!DOCTYPE html>
<html lang='en'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no'>
	<head>
		<title>Game Master</title>
		<link rel='stylesheet' href='static/lib/timer.css' />
		<link rel='stylesheet' href='static/style.css' />
		<script type= 'text/javascript' src='/static/lib/jquery-3.2.0.min.js'></script>
		<script type= 'text/javascript' src='/socket.io/socket.io.js'></script>
		<script type= 'text/javascript' src='/static/function.js'></script>
		<script type= 'text/javascript' src='/static/pile.js'></script>
		<script type= 'text/javascript' src='/static/card.js'></script>
		<script> 
			$(document).ready(function() {
				var list = {}
				var r_list = {}
				var s_list = {}
				var answer
				var remain = 3
				var player = 0
				var timer = null
				var ready = false
				var socket = io.connect('/tunnel')
				// ################# Initialize Phase ############### //
				socket.on('joining', function(package) {
					if (package['key'] != null) {
						list[package['key']] = package['name']
						s_list[package['key']] = 0
						r_list[package['key']] = false
						if (++player == 1) {
							setActive(true)
						}
						addToLobby(package['key'])
					}
				})

				socket.on('leaving', function(package) {
					$('#' + package['key']).css('visibility','hidden')
					delete list[package['key']]
					delete s_list[package['key']]
					delete r_list[package['key']]
					player--
				})

				socket.on('inactive', function() {
					setActive(false)
				})

				function addToLobby(key) {
					$('#container').append(`<p style='margin-left: 50px; font-size: 20px' id=` + key + `>`+ list[key] +`<p>`)
				}

				function setActive(status) {
					if (status) {
						$('#container').empty()
						$('#container').append(`<p>Lobby</p>`)
						createCountdown()
					} else {
						$('#container').empty()
						$('#container').append(`<p class='buzz'>Spot-It</p>`)
					}
				}

				socket.on('ready', function(package) {
					r_list[package['key']] = true
					if (checkReady(r_list)) {
						ready = true
						$('#wrap').css('visibility','visible')
						startCountdown()
					}
				})

				socket.on('notready', function(package) {
					r_list[package['key']] = false
					ready = false
					$('#wrap').css('visibility','hidden')
				})
				// ################ Playing Phase ################ //
				socket.on('submit', function(package) {
					if (answer.indexOf(package['value']) != -1 || answer.indexOf('hand') != -1) {
						var temp = answer
						$('#' + package['key']).text(++s_list[package['key']])
						if (nextPic()) {
							socket.emit('acknowledge', {key: package['key'], card: temp, result:'true'})
						} else {
							showResult()
						}
					} else {
						socket.emit('acknowledge', {key: package['key'], card: null, result:'false'})
					}
				})

				function nextPic() {
					if (--remain != 0) {
						answer = pile[55 - remain]
						showPic(answer)
						return true
					}
					return false
				}

				function showResult() {
					var arr = showLeaderboard(s_list)
					var i = 1
					for (var a in arr) {
						$('body').append(`<center><p>` + list[arr[a][0]] + `: </p><p>` + arr[a][1] + `</p></center>`)
						socket.emit('acknowledge', {key: arr[a][0], rank: i++, result: 'end'})
					}
					setTimeout(function(){
						socket.emit('gameStarted')
						restartGame()
					}, 30000)
				}
				// ############################################# //
				function startCountdown() {
					$('body').css({'background-color': '#FFC200'})
					var s = 5
					function countdown(){
						if (s < 0) {
							$('body').css({'background-color': '#e6e6e6'})
							$('#container').empty()
							init(player)
							var i = 0
							for (var k in list) {
								socket.emit('acknowledge', {key: k, card: pile[i], result: 'none'})
								i++
							}
							socket.emit('gameStarted')
							remain -= player
							showScores(list, s_list)
							nextPic()
							return
						}
						$('#wrap').removeAttr('class')
						setTimeout(function(){
							if (!ready) {
								$('body').css({'background-color': '#e6e6e6'})
								return
							}
							$('#wrap').addClass('wrap-' + s)
							setTimeout(function(){
								s--
								countdown()
							}, 1000)
						}, 600)
					}
					countdown()
				}

				function restartGame() {
					list = {}
					r_list = {}
					s_list = {}
					player = 0
					$('body').empty()
					$('body').append(`<div id='container' class='what'></div>`)
					setActive(false)
				}
			})
		</script>
	</head>
	<body>
		<div id='container' class='what'>
			<p class='buzz'>Spot It</p>
		</div>
	</body>
</html>