<!DOCTYPE html>
<html lang='en'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<head>
		<title>Game Master</title>
		<link href="_static/style.css" rel="stylesheet" />
		<script type= 'text/javascript' src='/static/lib/jquery-3.2.0.min.js'></script>
		<script type= 'text/javascript' src='/socket.io/socket.io.js'></script>
		<script type= 'text/javascript' src='/static/function.js'></script>
		<script type= 'text/javascript' src='/static/pile.js'></script>
		<script type= 'text/javascript' src='/static/card.js'></script>
		<script> 
			$(document).ready(function() {
				var list = {}
				var r_list = {}
				var s_list = {}
				var answer
				var remain = 55
				var player = 0
				var timer = null
				var socket = io.connect('/tunnel')
				// ################# Initialize Phase ############### //
				socket.on('joining', function(package) {
					list[package['key']] = package['name']
					s_list[package['key']] = 0
					r_list[package['key']] = false
					player++
					addToLobby(package['key'])
				})

				socket.on('leaving', function(package) {
					$('#' + package['key']).hide()
					var index = list.indexOf(5)
					list.splice(index, 1)
					s_list.splice(index, 1)
					player--
				})

				socket.on('active', function() {
					setActive(true)
				})

				socket.on('inactive', function() {
					setActive(false)
				})

				function addToLobby(key) {
					$('div').append(`<p style='margin-left: 50px; font-size: 20px' id=` + key + `>`+ list[key] +`<p>`)
				}

				function setActive(status) {
					if (status) {
						$('div').empty()
						$('div').append(`<center><p style='margin-top: 40px; font-size: 50px'> Lobby </p></center>`)
					} else {
						$('div').empty()
						$('div').append(`<center><p style='margin-top: 100px; font-size: 50px'> Spot-It </p></center>`)
					}
				}

				socket.on('ready', function(package) {
					r_list[package['key']] = true
					if (checkReady(r_list)) {
						$('div').append(`<p id='countdown'></p>`)
						startCountdown()
					}
				})

				socket.on('not-ready', function(package) {
					r_list[package['key']] = false
					$('#countdown').hide()
					stopCountdown()
				})
				// ################ Playing Phase ################ //
				socket.on('submit', function(package) {
					if (answer.indexOf(package['value']) != -1) {
						socket.emit('acknowledge', {key: package['key'], card: answer, result:'true'})
						$('#' + package['key']).text(++s_list[package['key']])
						nextPic()
					} else {
						socket.emit('acknowledge', {key: package['key'], card: null, result:'false'})
					}
				})

				function nextPic() {
					answer = pile[55 - --remain]
					if (remain != 0) {
						showPic(answer)
					} else {
						showLeaderboard(list, s_list)
					}
				}
			})
		</script>
	</head>
	<body>
		<div class="what">
			<a class="buzz" href="#">Spot It</a>
		</div>
		<!-- <div>
			<center><p style='margin-top: 100px ; font-size: 50px'> Spot-It </p></center>
		</div> -->
	</body>
</html>