<!DOCTYPE html>
<html lang='en'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />

	<head>
		<meta charset='UTF-8'>
		<link href="_static/style_index.css" rel="stylesheet" />
		<title>Player</title>
		<script type='text/javascript' src='/static/lib/jquery-3.2.0.min.js'></script>
		<script type='text/javascript' src='/socket.io/socket.io.js'></script>
		<script type= 'text/javascript' src='/static/function.js'></script>
		<script type= 'text/javascript' src='/static/card.js'></script>
		<script>
			$(document).ready(function() {
				// ################# Initialize Phase ############### //
				var id
				var name
				var score = 0
				var socket = io.connect('/')

				socket.on('id', function(key) {
					id = key
				})
				// ################ Playing Phase ################ //
				$('body').on('click', 'img', function() {
					socket.emit('choose', {key: id, value: $(this).attr('value')})	
				})
							
				socket.on('callback', function(package) {
					if (id == package['key']) {
						if (package['result'] == 'false') {
							alert('false')
						} else if (package['result'] == 'end') {
							$('body').empty()
							$('body').append(`<p>Your Rank: ` + package['rank'] + `</p>`)
						} else if (package['result'] == 'none') {
							$('div').empty()
							$('body').append(`<p>Your Score: </p><p id = 'score'>` + score + `<p>`)
							showPic(package['card'])
						} else {
							showPic(package['card'])
							$('#score').text(++score)
						}
					}
				})
				// ######################################### //
				$('#enter-name').keypress(function(e){
					if (e.keyCode==13) {
						if ($('#enter-name').val().length == 0) {
							alert('Name must contain at least 1 character')
						} else {
							name = $('#enter-name').val()
							socket.emit('enter', {key: name})
							$('div').empty()
							$('div').append(`<button id='ready'>Ready</button><button id='notready'>Not Ready</button>`)
							$('#notready').hide()
							$('#ready').click(function() {
								socket.emit('ready', {key: id})
								$('#notready').show()
								$(this).hide()
							})
							$('#notready').click(function() {
								socket.emit('notready', {key: id})
								$('#ready').show()
								$(this).hide()
							})
						}
					}
				})
			})
		</script>
	</head>
	<body>
		<div class="center">
			<p id = 'name-label'>Please enter your name: </p>
			<input id='enter-name' type='text'></div>
		</div>
	</body>
</html>