html { width:100%; height:100%; }

body
{
	display:table;
	width:100%; height:100%;
	margin:0;
	background:##e6e6e6;
	color:#3d3d3d;
	font-weight:bold;
	font-size:4em;
}

div.what
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}


.buzz
{
	display:inline-block;
	position:relative;
	color:inherit;
	text-decoration:none;
	transition:all 250ms ease;
	transform:translatez(0);
	perspective:50px;
}

.buzz:before,
.buzz:after
{
	content:attr( data-buzz );
	position:absolute;
	z-index:-1;
	opacity:0.5;
	transition:all 150ms ease;
}

.buzz:before
{
	color:#00d5ff;
	top:2px; left:2px;
}

.buzz:after
{
	color:#ffaa00;
	bottom:2px; right:2px;
}

.buzz:hover:before
{
	transform:rotatex(-15deg) rotatey(5deg) scale(1.25);
}

.buzz:hover:after
{
	transform:rotatey(-5deg) rotatex(15deg) scale(1.25);
}

/* This section is for index.html (First page: Enter name) */
#name {
    color: black;
    text-align: center;
}

#name-label {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
.center {
	text-align: center;
     margin: 25% auto;
}

#enter-name{
	padding: 0.5rem;
}

input[type=text] #name-label{
		font-size: 1rem;
}

p.long{

	font-size: 5em;
}

.score {
	font-size: 0.5em;
}