html { 
  width:100%; 
  height:100%; 
}

body {
  display: table;
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",sans-serif;
  -webkit-font-smoothing: antialiased
}

div.what {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

/* ####################### Enter Name ######################## */
.name-label {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.center {
    text-align: center;
    margin: 25% auto;
}

.enter-name {
	padding: 0.5rem;
    text-align: center;
}

input[type=text] {
	font-size: 1rem;
}

/* ###################### Ready page ####################### */
a {
  color: #333;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: tomato;
}

a:focus {
  text-decoration: none;
}

a:active {
  color: #FFF;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  font-size: 120%;
}

.btn:after {
  transition: 0.5s all ease;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 3px solid tomato
}

.btn:before {
  content: '';
  position: absolute;
  border-radius: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: rotate(45deg);
  background: #fff;
  z-index: -1
}

.btn:hover:after {
  transform: rotate(225deg)
}

.btn:active {
  transform: scale(1.1)
}

.btn:active:before {
  background-color: #f1481b
}

.btn:active:after {
  border-color: #f1481b
}

/* ###################### Playing page ####################### */
.score-label{
    text-align: right;
    font-size: 2rem;
    margin: 0
}

/* ###################### Score Page ######################### */
.rank{
    text-align: center;
    font-size: 2rem;
}
